<div>
    <span class="buildDefinition">{{buildDefinition?.name}}</span>
    <span class="fav">
        
        <ng-container *ngIf="isFavorite then removeFavorite; else addFavorite"></ng-container>

        <ng-template #addFavorite>
            <button class="bolt-button bolt-icon-button favorite-star clickable" tabindex="-1" type="button"
                (click)="toggleFavorite()" aria-label="Toggle favorite">
                <span class="fabric-icon ms-Icon--FavoriteStar"></span>
            </button>
        </ng-template>
        <ng-template #removeFavorite>
            <button class="bolt-button bolt-icon-button favorite-star active clickable" tabindex="-1" type="button"
                (click)="toggleFavorite()" aria-label="Toggle favorite">
                <span aria-hidden="true"
                    class="left-icon flex-noshrink fabric-icon ms-Icon--FavoriteStarFill medium"></span>
            </button>
        </ng-template>
    </span>
    <div class="container">
        <div *ngFor="let testRunName of testRunNames">
            <test-stats [buildDefinitionId]="buildDefinitionId" [name]="testRunName"></test-stats>
        </div>
    </div>
</div>